################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/.vs
/Panel_Glowny/.vs/Panel_Glowny
/Panel_Glowny/Panel_Glowny/bin/Debug/net8.0-windows
/Panel_Glowny/Panel_Glowny/obj
.vs/
bin/
obj/
*.user
*.bin
